
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
    <div>
        <br /> <br /> <br /> <br /> <br /> <br /><br /> <br /> <br /> <br />
        <h1 style="text-align:center;color:mediumseagreen;font-weight:bold;font-size:45px;">Your order is Placed.</h1>
    </div>
</body>
</html>
